.container {

    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width :350px;
    height: 600px;
    background-color: black;




}

#timeDisplay {

    color: white;
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 200px;
    margin-left: 55px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;

}

#startBtn {
    width: 75px;
    border-radius: 50%;
    height: 75px;
    margin-left: 75px;
    cursor: pointer;
    background-color: rgb(5, 58, 5);
    color: rgb(113, 198, 111);
    box-shadow:  0px  0px 0px 1px  rgb(5, 58, 5);
    
   
    
}


#resetBtn {
    width: 75px;
    border-radius: 50%;
    height: 75px;
    background-color: rgb(40, 39, 39);
    color: rgb(121, 119, 119);
    cursor: pointer;
    margin-right: 15px;
    box-shadow:  0px  0px 0px 1px  rgb(40, 39, 39);

}





/* 
background-color: rgb(54, 23, 23);
    color: rgb(255, 81, 46);
    cursor: pointer;
    box-shadow:  0px  0px 0px 1px  rgb(54, 23, 23);

    */